* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  min-height: 100vh;
  --bg-variable: linear-gradient(123deg, rgba(123, 52, 239, 0.85) 16.23%, #228AEA 82.96%);
  background: var(--bg-variable);
}

#root {
  font-family: Montserrat, system-ui;
  display: flex;
  padding: 1em;
  place-content: center;
  flex-direction: column;
  min-height: 100vh;

}

h2 {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
}

.bold{
  font-size:x-large;
  font-weight: 500;
}